.appFooterBody .buttonIcon {
  position: relative;  
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-top: 0 !important;
}


.appFooterBody  .buttonIcon span:after {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
.appFooterBody  .buttonIcon.buttonIconSave {
  margin-right: 90px !important;
}
.appFooterBody  .buttonIcon.buttonIconSave span:after {
  right: -90px;
  content: "Speichern";
}

.appFooterBody  .buttonIcon.buttonIconHelp {
  margin-right: 70px !important;
}
.appFooterBody .buttonIcon.buttonIconHelp span:after {
  right: -42px;
  content: "Hilfe";
}

.appFooterBody .buttonIcon.buttonIconPrint {
  margin-right: 70px !important;
}
.appFooterBody  .buttonIcon.buttonIconPrint span:after {
  right: -72px;
  content: "Drucken";
}

.appFooterBody  .buttonIcon.buttonIconTeam {
  margin-right: 110px !important;
}
.appFooterBody .buttonIcon.buttonIconTeam span:after {
  right: -110px;
  content: "Projektteam";
}
.appFooterBody  .buttonIcon.buttonIconDelete  {
  margin-right: 80px !important;
}
.appFooterBody  .buttonIcon.buttonIconDelete span:after {
  right: -74px;
  content: "Löschen";
}


 




